@{
    ViewBag.Title = "Data Employees";
}
<h2> Data Employees </h2>
<div id="gridEmployee" style="margin:20px auto;"></div>
@section scripts {
    <script type="text/javascript" src="http://jqwidgets.com/jquery-widgets-demo/scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://jqwidgets.com/jquery-widgets-demo/jqwidgets/jqx-all.js"></script>
    <link rel="stylesheet" type="text/css" href="http://jqwidgets.com/jquery-widgets-demo/jqwidgets/styles/jqx.base.css" />
    <script type="text/javascript">
    $(document).ready(function () {
        // In this part, you need to prepare your data
        var source =
            {
                datatype: "json",
                // Here you will declare all fields that must be used in the grid
                datafields: [
               { name: 'EmployeeID', type: 'number' },
               { name: 'FirstName', type: 'string' },
               { name: 'LastName', type: 'string' },
               { name: 'Gender', type: 'string' },
               { name: 'Designation', type: 'string' },
               { name: 'Salary', type: 'number' },
               { name: 'City', type: 'string' },
               { name: 'Country', type: 'string' }
                ],
                // call the action which retrieve data employees in json format
                url: '/odata/Employees'
            };
        var dataAdapter = new $.jqx.dataAdapter(source);
        // displaying data in the grid with jqxGrid
        $("#gridEmployee").jqxGrid(
            {
                width: 800,
                source: dataAdapter,
                pageable: true,
                sortable: true,
                columns: [
                    { text: "Employee ID", datafield: "EmployeeID" },
                    { text: "FirstName", datafield: "FirstName" },
                    { text: "LastName", datafield: "LastName" },
                    { text: "Gender", datafield: "Gender" },
                    { text: "Designation", datafield: "Designation" },
                    { text: "Salary", datafield: "Salary" },
                    { text: "City", datafield: "City" },
                    { text: "Country", datafield: "Country" }
                ]
            });
    });
    </script>
}